<!DOCTYPE html>
<html>

<head>
	<title>Re-former</title>
</head>


<body>
	<p>proving that the page exists.....</p>
	<br/>
	<form method="post" action="/users" accept-charset="UTF-8" name="user" id="user">
		<label for="user[email]">Email</label>
		<input name="user[email]">
		<br/>
		<label for="user[username]">Username</label>
		<input name="user[username]">
		<br/>
		<label for="user[password]">Password</label>
		<input name="user[password]">
		<br/>
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		<input type="submit" value="Submit">
	</form>

</body>

</html>
